h1 {
    
    font-size: 2rem;
    font-weight: 500;
}


a {
    text-decoration: none;
}


.container {
    display:flex;
    align-items: center;
    justify-content: center;



}
/* .a {
    display: grid;
    padding: 0.3rem;
    grid-template-columns: 300px auto;
    gap: 1rem;
    text-align: center;
    align-items: center;
} */

img {
    max-width: 100%;
    height: auto;
    align-self: auto;
}

.b {
        display: grid;
        padding: 0.3rem;
        grid-template-columns: 200px auto;
        gap: 1rem;
        align-items: center;
        
    }

h3{
    font-size: 48px;
}

h4{
    font-size: 30px;
    margin-top: -30px;
    margin-left: 38px;
}

h5{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 60px;
}

#vl{
    width: 80px;
    height: 60px;
    margin-top: 1.75rem;
    margin-left: 1rem;
}
       
.colorvalor{
    background-color: rgba(132, 235, 235, 0.968);
}


html,
.root{
    padding: 0;
    margin: 0;
    font-size: 18px;
}

body{
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

section{
    padding-top: 2rem;
    width: 80%;
    margin: auto;
}

details[open] summary ~ *
{
    animation: open 0.3 ease-in-out;
}
@keyframes open {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
details summary::-webkit-details-marker {
    display: none;
}
details summary {
    width: 100%;
    padding: 1.3rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 2.5em;
    font-weight: 300;
    list-style: none;
    align-items: center;

   
}
details summary::after{
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary::after{
    transform: rotate(45deg);
    font-size: 2rem;

}
details summary{
    outline: 0;
}
details p{
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}
